<div *ngIf="contact" class="row">
  <div class="col-md-12 card p-1 mx-2 mt-5">
    <h2 *ngIf="contact._id">Property Details</h2>
    <h2 *ngIf="!contact._id">Add New Property</h2>
  </div>

  <form class="col-md-12">
    <div>
      <img src="{{contact.phone.work}}" alt="building image" style="max-width:fill-available;">
    </div>
    <div class="form-group">
      <input class="form-control" name="contact-name" [(ngModel)]="contact.name" placeholder="Monotoli Building"/>
      <label for="contact-name">Building Name</label>
    </div>
    <div class="form-group">
      <input class="form-control" name="contact-email" [(ngModel)]="contact.email" placeholder="112,000"/>
      <label for="contact-email">Commercial space (sqft)</label>
    </div>
    <div class="form-group">
      <input class="form-control" name="contact-phone-mobile" [(ngModel)]="contact.phone.mobile" placeholder="1994"/>
      <label for="contact-phone-mobile">Year built</label>
    </div>
    <div class="form-group">
      <input class="form-control" name="contact-phone-work" [(ngModel)]="contact.phone.work" placeholder="add image URL"/>
      <label for="contact-phone-work">Image URL</label>
    </div>
    <button class="btn btn-secondary" *ngIf="!contact._id" (click)="createContact(contact)">Create</button>
    <button class="btn btn-info" *ngIf="contact._id" (click)="updateContact(contact)">Update</button>
    <button class="btn btn-danger" *ngIf="contact._id" (click)="deleteContact(contact._id)">Delete</button>
  </form>
</div>
